<!-- About Section -->
<section id="about" class="content-section-b">
    <div id="about_change" class="container">
                        <div class="row">
                    <h2 class="category-heading alt-font">Hello!</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                </div>
        <div class="col-lg-8 col-lg-offset-2">
            <font size="4px">
                <!-- <p><font size="5px">Hello!</font></p> -->
                <p>I'm a Data Science master student at <a href="https://www.wpi.edu/academics/departments/data-science" target="_blank">Worcester Polytechnic Institute </a> set to graduate in May of 2018.<p>
                <p><i class="fa fa-terminal"></i></p>
                <p>My main interest is to understand real-world demands rooted in various applications from a data-scientist-specific perspective, to create models that could utilize existing data with higher efficiency, to find key features that describes the system more significantly, and to solve challenges by achieving better performance and with lower risk.<p>
		            <p><i class="fa fa-terminal"></i></p>
		            <p>As graduate student in data science major, my study and work experence have solidified my skill sets firmly, which includes novel <font color="DarkRed"> machine learning techniques </font> like  neural network and reinforcement learning; <font color="DarkRed"> big data management/analysis tools</font> like hadoop, spark, mongoDB, MySQL, etc. Besides, I am experienced in <font color="DarkRed"> multiple programing styles</font> like objective-oriented (OOP), imperative (IP) and functional programming (FP), etc.Through years of practice, I have grown my understanding how these tools' strengths and limitations affect their adoptions for various real-world applications.</p>
                <p><i class="fa fa-terminal"></i></p>
                <p>Currently, I am working in Pfizer as data scientist intern to help  <font color="Blue">Pfizer</font> find the pain point on the rise of R&D costs for the clinical trial. I believe that, with the power of data, we can find a effective way to control the costs, reduce waste, and to improve R&D efficiency </p>
                <p><i class="fa fa-terminal"></i></p>
                During my free time, i enjoy music, photography, cooking, coffee and cocoa.
                <p><br></p>
            </font>
        </div>
        <!--<div class="col-md-3 col-md-push-9" align="center">-->
        <!--<font size="2px">-->
        <!--<p><a id="change_to_star_war" href="#" onClick="return false;">Star Wars Edition <i class="fa fa-space-shuttle"></i></a></p>-->
        <!--</font>-->
        <!--</div>-->
    </div>
</section>
