<section id="experiences" class="content-section-b">
    <div class="container">
                        <div class="row">
                    <h2 class="category-heading alt-font">Experience</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                </div>
            <font size="4px">
                <table>
                    <tr >
                        <td><font color="SlateGray">Data scientist intern</font></td>
                        <td><font color="DarkRed">Pfizer</font></td>
                        <td><font color="SlateGray">Cost control</font></td>
                        <td><font color="SlateGray">17-Present</font></td>
                    </tr>
                    <tr>
                        <td><font color="SlateGray">Research Assistant</font></td>
                        <td><font color="DarkRed">WPI</font></td>
                        <td><font color="SlateGray">Data science</font></td>
                        <td><font color="SlateGray">16-Present</font></td>
                    </tr>
                    <tr>
                        <td><font color="SlateGray">Research Assistant</font></td>
                        <td><font color="DarkRed">Chinese Uni. of Hong Kong</font></td>
                        <td><font color="SlateGray">Biomedical science</font></td>
                        <td><font color="SlateGray">13-15</font></td>
                    </tr>
                    <tr>
                        <td><font color="SlateGray">Teaching Assistant</font></td>
                        <td><font color="DarkRed">Chinese Uni. of Hong Kong</font></td>
                        <td><font color="SlateGray">Advanced Engineering Math.</font></td>
                        <td><font color="SlateGray">09-13</font></td>
                    </tr>
                </table>
                <p><br></p>
            </font>
        <!--<div class="col-md-3 col-md-push-9" align="center">-->
        <!--<font size="2px">-->
        <!--<p><a id="change_to_star_war" href="#" onClick="return false;">Star Wars Edition <i class="fa fa-space-shuttle"></i></a></p>-->
        <!--</font>-->
        <!--</div>-->
    </div>
</section>
</section>
