<section id="projects" class="content-section-a">
    <div class="container">
                <div class="row">
                    <h2 class="category-heading alt-font">Projects</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                </div>
            <font size="4px">
                <table>
                  <tr >
                      <td><font color="SlateGray">A NET2NET-trained neural network for<br>bankruptcy prediction</font></td>
                      <td><font color="SlateGray">Beat the best record since 2016 </font></td>
                      <td><font color="SlateGray">Neural Network + Auto-Encoder</font></td>
                      <td><font color="DarkRed"><a href="https://github.com/mzlcuhk/BankruptcyPrediction" target="_blank" style="color:inherit;">Github</font></td>
                  </tr>

                    <tr >
                        <td><font color="SlateGray">Data mining for online news<br>popularity prediction</font></td>
                        <td><font color="SlateGray">Feature Engineering </font></td>
                        <td><font color="SlateGray">ML + R</font></td>
                        <td><font color="DarkRed"><a href="https://github.com/mzlcuhk/onlineNewsPopularity" target="_blank" style="color:inherit;">Github</font></td>
                    </tr>

                    <tr >
                        <td><font color="SlateGray">A music recommender system based on<br>Yahoo! 10-Gb music dataset</font></td>
                        <td><font color="SlateGray">Large-scale training +<br>Collaberative Filtering</font></td>
                        <td><font color="SlateGray">Spark + AWS </font></td>
                        <td><font color="DarkRed"><a href="https://github.com/mzlcuhk/Yahoo_10Gb_musicCFRecommender" target="_blank" style="color:inherit;">Github</font></td>
                    </tr>
                    <tr >
                        <td><font color="SlateGray">Hadoop-based K-mean clustering</font></td>
                        <td><font color="SlateGray">Adavanced hadoop manipulation</font></td>
                        <td><font color="SlateGray">ML + Hadoop</font></td>
                        <td>Coming soon</td>
                    </tr>
                    <tr >
                        <td><font color="SlateGray">Deep neural networks<br>built from scratch</font></td>
                        <td><font color="SlateGray">Advanced numpy manipulation</font></td>
                        <td><font color="SlateGray">NN + Numpy</font></td>
                        <td><font color="DarkRed"><a href="https://github.com/mzlcuhk/DeepNeuralNetworksBuiltFromScratch" target="_blank" style="color:inherit;">Github</font></td>
                    </tr>
                    <tr >
                        <td><font color="SlateGray">Django-based hotel booking system web App</font></td>
                        <td><font color="SlateGray">Web apps</font></td>
                        <td><font color="SlateGray">Django + MySQL</font></td>
                        <td><font color="DarkRed"><a href="https://github.com/mzlcuhk/HotelBooking" target="_blank" style="color:inherit;">Github</font></td>
                    </tr>
                </table>
                <p><br></p>

            </font>
        <!--<div class="col-md-3 col-md-push-9" align="center">-->
        <!--<font size="2px">-->
        <!--<p><a id="change_to_star_war" href="#" onClick="return false;">Star Wars Edition <i class="fa fa-space-shuttle"></i></a></p>-->
        <!--</font>-->
        <!--</div>-->
    </div>
</section>
</section>
